/* THEME ::: Dark Matter */

h1.content-header, h2.content-header, h3.content-header, h4.content-header {
    background-color: #e0e0e0;
    border-color: #212121;
    color: #757575 !important;
}

ul.table-of-content-list {
    background-color: #e0e0e0;
    border-color: #212121;
}

ul.table-of-content-list li {
    color: #757575 !important;
}

ul.table-of-content-list a {
    color: #757575 !important;
}

ul.table-of-content-list a:hover {
    color: #424242 !important;
}

div.markdown-container {
    background-color: #e0e0e0;
    border-color: #212121;
    color: #757575 !important;
}

div.markdown-container h1, div.markdown-container h2, div.markdown-container h3, div.markdown-container h4 {
    color: #757575 !important;
}