/* THEME ::: The Colors will be Provided by the User */

h1.content-header, h2.content-header, h3.content-header, h4.content-header {
    background-color: [#COLOR_ONE#];
    border-color: [#COLOR_TWO#];
    color: [#COLOR_TWO#] !important;
}

ul.table-of-content-list {
    background-color: [#COLOR_ONE#];
    border-color: [#COLOR_TWO#];
}

ul.table-of-content-list li {
    color: [#COLOR_TWO#] !important;
}

ul.table-of-content-list a {
    color: [#COLOR_TWO#] !important;
}

ul.table-of-content-list a:hover {
    color: [#COLOR_THREE#] !important;
}

div.markdown-container {
    background-color: [#COLOR_ONE#];
    border-color: [#COLOR_TWO#];
    color: [#COLOR_TWO#] !important;
}

div.markdown-container h1, div.markdown-container h2, div.markdown-container h3, div.markdown-container h4 {
    color: [#COLOR_TWO#] !important;
}
